body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #1b1b32;
  color: #f5f6f7;
  font-family: Tahoma;
  font-size: 16px;
}

h1, p:not(first-child) {
  margin: 1em auto;
  text-align: center;
}

p:first-child{
  text-align: left;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {
  border: none;
  padding: 0;
  border-bottom: none;
}

fieldset:last-of-type {
  border-bottom: none;
}

legend {
  display: block;
  border: 0.5rem 0;
  padding: 0px;
  border-bottom: none;
}

label {
  display: block;
  margin: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

input,
textarea,
select {
  margin: 0px;
  width: 100%;
  min-height: 0em;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: left;
}

input[type="submit"] {
  display: block;
  width: 100%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: green;
  border-color: white;
  min-width: 300px;
}

.inline{
  display: inline;
}
